<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li><a asp-area="" asp-controller="Menu" asp-action="Menu">All</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Starter">Starters</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Salad">Salads</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Specialty">Specialty</a></li>
                </ul>
            </div>
        </div>


        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

           

            <div class="col-lg-6 menu-item filter-salads">
                <img src="~/img/menu/caesar.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Caesar Selections</a><span>$8.95</span>
                </div>
                <div class="menu-ingredients">
                    Crisp romaine lettuce, parmesan cheese, crunch of our house-made croutons and tender chicken breast all tied together with signature Caesar dressing.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="~/img/menu/greek-salad.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Greek Salad</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Crisp romaine lettuce, juicy tomatoes, crunchy cucumbers, tangy feta cheese, briny Kalamata olives, red onions, all drizzled with a Greek vinaigrette.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-salads">
                <img src="~/img/menu/spinach-salad.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Spinach Salad</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Fresh Spinach Salad, a vibrant ensemble of tender spinach leaves adorned with earthy mushrooms, slices of hard-boiled egg, and crowned with a warm bacon vinaigrette!
                </div>
            </div> 

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/img/menu/garden-salad.webp" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Garden Salad</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Crisp, vibrant lettuce forms the base, adorned with a rainbow of colorful vegetables including juicy tomatoes, crunchy cucumbers, sliced radishes, and shredded carrots.
                </div>
            </div>
        </div>
    </div>
</section>

