
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li><a asp-area="" asp-controller="Menu" asp-action="Menu">All</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Starter">Starters</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Salad">Salads</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Specialty">Specialty</a></li>
                </ul>
            </div>
        </div>


        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
         
            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/img/menu/bread-barrel.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Bread Barrel</a><span>$6.95</span>
                </div>
                <div class="menu-ingredients">
                    A masterpiece of artisanal baking, our barrel-shaped loaf boasts a golden, crispy crust that gives way to a tender, flavorful interior. Perfect for tearing and sharing!
                </div>
            </div>         

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/img/menu/tuscan-grilled.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Tuscan Grilled</a><span>$9.95</span>
                </div>
                <div class="menu-ingredients">
                    Experience grilled chicken paired with provolone, artichoke hearts, and roasted red pesto. Each bite offers a delightful harmony of flavors.
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/img/menu/lobster-roll.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lobster Roll</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Featuring plump lobster meat delicately mixed with creamy mayo, nestled atop crisp lettuce, all embraced by a perfectly toasted bulky roll!
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/img/menu/fountain-blue-restaurants-lobster-thermidor-recipe_72365d40e98f038a1b64f195b46a719b-768x768.jpeg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lobster Elysium</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Succulent lobster meat, tender and flavorful, is delicately cooked to perfection and served atop a bed of creamy risotto infused with hints of saffron.
                </div>
            </div>
        </div>
    </div>
</section>

