
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <ul id="menu-flters">
                    <li><a asp-area="" asp-controller="Menu" asp-action="Menu">All</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Starter">Starters</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Salad">Salads</a></li>
                    <li><a asp-area="" asp-controller="Menu" asp-action="Specialty">Specialty</a></li>
                </ul>
            </div>
        </div>


        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-6 menu-item filter-starters">
                <img src="~/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Lobster Bisque</a><span>$5.95</span>
                </div>
                <div class="menu-ingredients">
                    Indulge in the luxurious experience of our Lobster Bisque, meticulously crafted with a velvety blend of rich lobster essence, smooth cream, and an exquisite selection of savory spices!
                </div>
            </div>

          

            <div class="col-lg-6 menu-item filter-starters">
                <img src="~/img/menu/cake.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Crab Cake</a><span>$7.95</span>
                </div>
                <div class="menu-ingredients">
                    Savor the delicate essence of our crab cake, nestled within a warm, toasted roll. Topped with crisp lettuce and tangy tartar sauce, each bite is a culinary journey!
                </div>
            </div>
          

            <div class="col-lg-6 menu-item filter-starters">
                <img src="~/img/menu/mozzarella.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Mozzarella Stick</a><span>$4.95</span>
                </div>
                <div class="menu-ingredients">
                    With a gooey, molten center of premium mozzarella cheese that oozes with every bite, our Mozzarella Sticks are a true indulgence. Each bite promises a burst of cheesy goodness!
                </div>
            </div>

            <div class="col-lg-6 menu-item filter-specialty">
                <img src="~/img/menu/images.jpg" class="menu-img" alt="">
                <div class="menu-content">
                    <a href="#">Bruschetta two ways</a><span>$12.95</span>
                </div>
                <div class="menu-ingredients">
                    Traditional with tomatoes, basil, and garlic, or creamy with ricotta, honey, and pine nuts. A delightful appetizer offering a burst of flavor in every bite.
                </div>
            </div>
           
        </div>
    </div>
</section>

