<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Specials</h2>
            <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special" class="nav-link active show" data-bs-toggle="tab">Fusion Salad</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special2" class="nav-link" data-bs-toggle="tab">Medley Salad</a>
                    </li>
                    <li class="nav-item">
                        <a a asp-area="" asp-controller="Special" asp-action="Special3" class="nav-link" data-bs-toggle="tab">Noodle Soup</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special4" class="nav-link" data-bs-toggle="tab">Crostini Delight</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special5" class="nav-link" data-bs-toggle="tab">Chicken Supreme</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Hummus Crostini Delight</h3>
                                <p class="fst-italic">With each bite, you'll experience a delightful combination of textures and flavors</p>
                                <p>Imagine a platter adorned with golden, crispy bread slices, each one delicately topped with a delectable canapé of creamy hummus infused with earthy spinach and tart, fresh cranberries. The vibrant colors of the cranberries and spinach create a feast for the eyes, while the aroma of freshly baked bread tantalizes the senses.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/specials-4.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
