<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Specials</h2>
            <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special" class="nav-link active show" data-bs-toggle="tab">Fusion Salad</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special2" class="nav-link" data-bs-toggle="tab">Medley Salad</a>
                    </li>
                    <li class="nav-item">
                        <a a asp-area="" asp-controller="Special" asp-action="Special3" class="nav-link" data-bs-toggle="tab">Noodle Soup</a>
                    </li>
                    <li class="nav-item">
                        <a a asp-area="" asp-controller="Special" asp-action="Special4" class="nav-link" data-bs-toggle="tab">Crostini Delight</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Special" asp-action="Special5" class="nav-link" data-bs-toggle="tab">Chicken Supreme</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>Berrylicious Fruit Medley Salad</h3>
                                <p class="fst-italic">Dive into the refreshing embrace of our Berrylicious Fruit Medley Salad.</p>
                                <p>Imagine a harmonious blend of plump blueberries, ripe bananas, and juicy melon, all tossed together in perfect symphony. Each bite offers a burst of sweetness, complemented by the natural flavors of the fruit. It's a celebration of freshness and vitality, where every ingredient shines brightly in its own right. Indulge in this nourishing bowl of goodness, and let the vibrant essence of berries and melon awaken your taste buds.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/img/specials-5.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

    </div>
</section>

